<div class="image-container"><div class="overlay-image">
        <img class="image" src="./assets/rib.jpg" alt="Alt text" />
        <div class="text">Current Lab Members</div>
      </div>
</div>
<div class="jr-container">
  <div class="profile-container">
    <img id="img1" src="./assets/Rehman.jpg" alt="Jalees Rehman"> <br> 
    <p id="p1"><b>JALEES REHMAN, MD </b> <br>
    Office Phone: 312-996-6730 <br>
    Email: jalees@uic.edu <br>
    Publications:<a href="https://www.ncbi.nlm.nih.gov/myncbi/browse/collection/40216063/?sort=date&direction=descending"> PubMed</a> <br>
    Blog:<a href="https://thenextregeneration.wordpress.com/"> Blog</a> 
    </p>
   </div>
</div>
<div class="mem_container">
  <div class="table1">
    <table class="table_in1">
     <tr>
      <td>
        <img src="./assets/gajwani_priyanka.jpg" alt="Priyanka" height="100px" width="100px">
        <p id="p2" align="justify"> <font color="#000080"> Priyanka Gajwani</font> <br>
          Predoctoral Student <br>
          gajwani1@uic.edu</p></td>
     </tr>
     <br>
     <tr>     
      <td>
          <img src="./assets/ankit.jpg" alt="Ankit" height="100px" width="100px">
         <p id="p2" align="justify"><font color="#000080"> Ankit Jambusaria</font> <br>
          Predoctoral Student <br>
          ajambu2@uic.edu </p>
      </td>
     </tr>  
     <br>
     <tr>     
        <td>
            <img src="./assets/young.jpg" alt="Young-Mee" height="100px" width="100px">
           <p id="p2" align="justify"><font color="#000080"> Young-Mee Kim, PhD</font> <br>
            Research Assistant <br> Professor <br>
            youngmee@uic.edu </p>
        </td>
       </tr>  
       <br>
       <tr>     
          <td>
              <img src="./assets/joseph.jpg" alt="Joseph" height="100px" width="100px">
             <p id="p2" align="justify"><font color="#000080"> Joseph Leasure</font> <br>
              Predoctoral Student <br>
              jleasur2@uic.edu </p>
          </td>
         </tr>
         <br>
         <tr>     
            <td>
                <img src="./assets/li.jpg" alt="Li Wang" height="100px" width="100px">
               <p id="p2" align="justify"><font color="#000080"> Li Wang, PhD</font> <br>
                Lab Manager <br>
                liwang77@uic.edu </p>
            </td>
           </tr>
           <br>
           <tr>     
              <td>
                  <img src="./assets/zijing.jpg" alt="Zijing" height="100px" width="100px">
                 <p id="p2" align="justify"><font color="#000080"> Zijing Ye</font> <br>
                  Research Specialist <br>
                  zye26@uic.edu </p>
              </td>
             </tr>
             <br>
             <tr>     
                <td>
                    <img src="./assets/irshad.jpg" alt="Irshad" height="100px" width="100px">
                      <p id="p2" align="justify"><font color="#000080"> Irshad Badarpura</font> <br>
                        MS in CS Student<br>
                        ibadar2@uic.edu <br>
                      </p>
                </td>
              </tr>
               <br>           
      </table>
  </div>
  <div class="table2">
    <table class="table_in2">
      <tr>
          <td>
              <img src="./assets/shang.jpg" alt="Shang" height="100px" width="100px">
              <p id="p2" align="justify"> <font color="#000080">Shang Gao</font> <br>
                Predoctoral Student, BioE <br>
                sgao30@uic.edu</p>
          </td>
      </tr>
      <br>
      <tr>     
          <td>
              <img src="./assets/sarah.jpg" alt="Sarah" height="100px" width="100px">
             <p id="p2" align="justify"><font color="#000080"> Sarah Krantz</font> <br>
              Predoctoral Studen<br>
              krantz3@uic.edu </p>
          </td>
         </tr>
         <br>
      <tr>     
          <td>
              <img src="./assets/arundhati.jpg" alt="Arundhati" height="100px" width="100px">
             <p id="p2" align="justify"><font color="#000080"> Arundhati Jana</font> <br>
              Research Assistant <br> Professor <br>
              ajana@uic.edu </p>
          </td>
         </tr>
         <br>
      <tr>     
         <td>
             <img src="./assets/shubhi.jpg" alt="Shubhi" height="100px" width="100px">
             <p id="p2" align="justify"><font color="#000080"> Shubhi Srivastava</font> <br>
              Postdoctoral Research <br> Associate<br>
              shubhi@uic.edu</p>
            </td>
           </tr>
           <br>
      <tr>     
        <td>
            <img src="./assets/zachary.jpg" alt="Zachary" height="100px" width="100px">
                <p id="p2" align="justify"><font color="#000080"> Zachary White</font> <br>
                   Specialist<br>
                   zwhite4@uic.edu</p>
          </td>
      </tr>
      <br> 
      <tr>     
          <td>
              <img src="./assets/lianghu.jpg" alt="lianghu" height="100px" width="100px">
                  <p id="p2" align="justify"><font color="#000080"> Lianghui Zhang, MD, PhD</font> <br>
                    Postdoctoral Research <br>Associate<br>
                    lhzhang@uic.edu</p>
            </td>
        </tr>
        <br> 
    </table>
  </div>
</div>
<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_team-->