<div class="main-container" >
    <div class="bottom-container" align="justify">
        
    <font color="#000080">Research Interests</font>  <br>

    <p>  <strong>  1. Host defense, inflammation and tissue injury:</strong> What are the mechanisms regulating the immune response to a bacterial or viral infection and how does a dysregulated immune response cause injury to the tissue? What role do blood vessel endothelial cells play in regulating the immune response? How do macrophages choose their fate to transition into pro-inflammatory and pro-repair cells during an acute inflammation response? What role does the cellular metabolism play in regulating inflammation and immunity? </p>
    <p> <strong> 2. Stem cell differentiation and tissue regeneration:</strong> What are the environmental and metabolic cues regulating the differentiation of pluripotent stem cells into mature cardiovascular cells? How do we mature newly differentiated cardiovascular cells so that they can replace diseased tissue? Can we activate endogenous transcriptional programs in the adult vasculature to initiate tissue repair and regeneration?</p>
     <p>  <strong> 3. Blood brain barrier and Neurodegeneration:</strong> How does blood brain barrier dysfunction promote inflammation and progression of neurodegenerative diseases such as Alzheimer’s Disease? Can we model the blood brain barrier and its dysfunction using brain organoids derived from human induced pluripotent stem cells? Is there a transcriptomic signature of the brain vasculature which promotes neurodegeneration? </p>
    <p> <strong> 4. Cancer metabolism:</strong> How does dysregulation of metabolism in tumor cells and in the tumor blood vessels promote tumor growth? What are the interactions between tumor cells and tumor blood vessels which promote tumor metastases or the entry of metastatic cells into the tissue? </p>
    <p> <strong> 5. Computational biology:</strong> Can we develop novel computational algorithms to understand signaling networks in cells and their responses during stress, injury and repair? Are there novel approaches to analyze single cell RNA-Seq data in a biologically meaningful manner that reveals the complexity and heterogeneity of tissues? </p>



    These are the research questions that are addressed by various members of the lab. Even though we study a variety of research questions, there are key underlying themes such as injury, repair/regeneration or metabolism that are studied in a synergistic manner across the lab. Collaborations between lab members are highly encouraged and have allowed us to combine various areas of expertise and tools to study exciting research questions.
    </div>
    <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/M4jMLXE-CBc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>    
</div>